[Unit]
Description=FinesseHangUp Service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /var/AgentEmulator/FinesseHangUp-service.py

[Install]
WantedBy=multi-user.target